<% function getTitle() {
  if(document && document.title)
    return document.title;
  return site.title;
}
  function getCategory(){
    if(!document) return null;
    if(document.DocumentGroupItems && document.DocumentGroupItems.length>0)
      return document.DocumentGroupItems[0].GroupItem.slug;
    return document.slug;
    return null;
  }

  function isHome(){
    return document.url === 'index.html';
  }
%>
<html>
  <head>
    <title><%= getTitle() %></title>
    <link rel="stylesheet" type="text/css" href="<%= asset_src('css_main') %>">
    <link rel="canonical" href="<%= document.url %>" />
    <link rel="shortcut icon" href="<%= asset_src('static/img/favicon.ico') %>" />
  </head>
  <body>
    <div id="wrap" class="container">
      <div class="ban" id="page-top-banner">
      </div>
      <div id="page-content">
        <div id="page-header">
          <div class="row">
            <div class="col-sm-3 col-xs-12">
              <div id="logo">
                <a href="/" title="<%= site.title %>"><img src="<%= asset_src('static/img/logo.jpg') %>" alt="logo"/></a>
              </div>
            </div>
            <div class="col-sm-9 col-xs-12">
              <div id="page-header-info">
                <div class="inner">
                  <h4>portalul de ştiri nr. 1 din Moldova</h4>
                </div>
              </div>
            </div>
          </div>
          <div id="page-main-menu" class="clearfix">
            <ul class="mm clearfix">
              <li><a href="/" class="<%- (isHome() ? 'active': '') %>">Acasă</a></li>
              <%+ da.news.categories().then(function(categories){ %>
                <% categories.forEach(function(item){ %>
                <li><a class="<%- (getCategory() === item.slug ? 'active': '') %>" href="/<%- item.slug %>/"><%= item.name %></a></li>
                <% }) %>
              <% }) %>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-ms-12">
            <% content %>
          </div>
          <div class="col-md-4 col-ms-12">
            <div class="tab">
              <div class="tab-title">
                <h4>Ultimele stiri</h4>
              </div>
              <div class="tab-content">
                <%+ da.news.latestNews().then(function(rows){ %>
                  <ul class="list ot-news-item">
                  <% rows.forEach(function(doc){ %>
                    <li class="list-item">
                      <div class="item clearfix">
                        <a href="<%= doc_url(doc) %>">
                          <img class="pull-left" src="<%= image_src(doc.imageId, doc.imageExtension, 'small') %>" alt="" />
                          <h3><%= doc.title %></h3>
                        </a>
                      </div>
                    </li>
                  <% }) %>
                  </ul>
                <% }) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>